// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
  margin: 0px;
  padding: 0px;
}
table {  color: #333; font-family: Helvetica, Arial, sans-serif; width: 640px; border-collapse: collapse;}
td, th { border: 1px solid transparent; height: 30px; }
th { background: #D3D3D3; font-weight: bold; }
td { background: #FAFAFA; text-align: center; }
tr:nth-child(even) td { background: #F1F1F1; }
tr:nth-child(odd) td { background: #FEFEFE; }
tr td:hover { background: #666; color: #FFF; }

h1{
  font-family: cursive;
  font-weight: lighter;
  margin-left: 40px;
  padding: 15px;
}

.centrar{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.columnas{
  font-family: cursive;
  font-weight: bold;
}

.contenedor{
  background-color: #fffffa;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

header{
  width: 100%;
  overflow: hidden;
  background-color: #252932;
  margin-bottom: 20px;
}

.logo{
  color: #f2f2f2;
  font-size: 50px;
  line-height: 150px;
  float: left;
  cursor: pointer;
  margin-top: 20px;
}

header nav{
  float: right;
  line-height: 150px;
}

header nav a{
  display: inline-block;
  margin-top: 80px;
  color: #ffffff;//esta lina no funciona
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-weight: bold;
  font-size: 19px;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease;
}

header nav a:hover{
  background-color: rgba(189, 167, 24, 0.84);
  border-radius: 30px;
}
